.p-container{
  position: relative;
  width: 100%;
  padding: 0 2.5vw;

  @media only screen and (max-width:767px){
    padding: 0 20px;
  }
}

.p-row{
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;

  &.no_margin_top{
    margin-top: 0;
  }

  .p-col{grid-column: 1/-1;}
  .p-col-1{grid-column: span 1;
  
    @media only screen and (max-width:767px){
      grid-column: 1/-1;
    }
  }
  .p-col-2{grid-column: span 2;
    @media only screen and (max-width:767px){
      grid-column: 1/-1;
    }
  }
  .p-col-3{grid-column: span 3;
    @media only screen and (max-width:767px){
      grid-column: 1/-1;
    }
  }
  .p-col-4{grid-column: span 4;
    @media only screen and (max-width:767px){
      grid-column: 1/-1;
    }
  }
  .p-col-5{grid-column: span 5;
  
    @media only screen and (max-width:767px){
      grid-column: 1/-1;
    }}
  .p-col-6{
    grid-column: span 6;
    @media only screen and (max-width:767px){
      grid-column: 1/-1;
    }
  }
  .p-col-7{grid-column: span 7;
    @media only screen and (max-width:767px){
      grid-column: 1/-1;
    }
  }
  .p-col-8{grid-column: span 8;
  
    @media only screen and (max-width:767px){
      grid-column: 1/-1;
    }
  }
  .p-col-9{grid-column: span 9;
    @media only screen and (max-width:767px){
      grid-column: 1/-1;
    }
  }
  .p-col-10{grid-column: span 10;
    @media only screen and (max-width:767px){
      grid-column: 1/-1;
    }
  }
  .p-col-11{grid-column: span 11;
    @media only screen and (max-width:767px){
      grid-column: 1/-1;
    }
  }

}

.mt_1{
  margin-top: 2.5rem;
}

.p-content-body{
  position: relative;
  display: block;
  width: 100%;
  padding: 2rem;
  background-color: $color-dark;
  border-radius: 2em;

  @media only screen and (max-width:767px){
    padding: 0.75rem;
    border-radius: 1em;
  }
}


// Table
.custom_table_wrapper{
  position: relative;
  display: block;
  width: 100%;
  background-color: $color-dark;

  @media only screen and (max-width:767px){
    overflow: scroll;
  }

  .table_head{
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: 0.5fr 3fr 2fr 1fr 2fr;
      grid-gap: 1rem;
      padding: 1rem;

      @media only screen and (max-width:767px){
        display: none;
      }

       label {
          display: block;
          position: relative;
          font-weight: 500;
          width: 100%;
          color: $color-text;
          @include smText2();
      }
  }

  .table_body{
      position: relative;
      display: block;
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;

      .content_{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0.25em;
      }

      &>li{
          position: relative;
          display: grid;
          grid-template-columns: 0.5fr 3fr 2fr 1fr 2fr;
          grid-gap: 1rem;
          padding: 0.75rem 1rem;
          align-items: center;
          border-top: 1px solid $color-dark-2;
          transition: all 0.3s ease;

          @media only screen and (max-width:767px){
            grid-template-columns: 1fr 3fr;
            align-items: flex-start;
          }

          &:hover{
              background-color: $color-dark-2;
          }

          label {
              display: block;
              position: relative;
              font-weight: 500;
              width: 100%;
              color: $color-white;
              @include smText2();
              &>{
                span{
                  display: block;
                  @include smText();
                  opacity: 0.5;
                }
              }
          }

          .index_{
              position: relative;
              display: block;

              span{
                  display: contents;
                  color: $color-text;
                  @include lgText();
              }

              &.sm_{
                span{
                  @include mdText2();
                }
              }

              .img_box{
                position: relative;
                width: 100%;
                height: 0;
                overflow: hidden;
                padding-top: 100%;
                border-radius: 5px;
                box-shadow: 1px 1px 10px $color-dark;

                .img_{
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-position: center;
                  background-size: cover;
                }
              }
          }

          .action_{
              position: relative;
              list-style: none;
              padding: 0;
              margin: 0 -10px;
              display: flex;
              flex-wrap: wrap;
              @media only screen and (max-width:767px){
                justify-content: flex-start;
                margin-top: 10px;
              }
              li{
                  display: block;
                  margin: 0 10px;
                  position: relative;

                  .link_{
                      display: block;
                      position: relative;
                      color: $color-icon;
                      transition: all 0.3s ease;
                      @include mdText2;
                      background: none;
                      outline: none;
                      border: none;

                      @media only screen and (max-width:767px){
                        font-size: 8vw;
                      }

                      &:hover{
                          color: $color-primary;
                      }
                  }
              }
          }
      }

      &.hover_{
        li{
          cursor: pointer;
          &:hover{
            background-color: $color-primary;
          }

          &.active_{
            background-color: #2b2d35;
          }
        }
      }
  }

  &.v_2{
    .table_head{
      grid-template-columns: 0.5fr 2fr 2fr 2fr 1fr 2fr;

      
    }

    .table_body{
      &>li{
        grid-template-columns: 0.5fr 2fr 2fr 2fr 1fr 2fr;
        @media only screen and (max-width:767px){
          grid-template-columns: 1fr 3fr;
          grid-gap: 0.65em;
        }
      }

      

    }
  }

  &.v_3{
    .table_head{
      grid-template-columns: 0.5fr 2fr 2fr 1.5fr 1fr 1fr 2fr;
    }

    .table_body{
      &>li{
        grid-template-columns: 0.5fr 2fr 2fr 1.5fr 1fr 1fr 2fr;
        @media only screen and (max-width:767px){
          grid-template-columns: 1fr 3fr;
          grid-gap: 0.65em;

        }
      }
      
    }
  }

  &.v_4{
    .table_head{
      grid-template-columns: 0.5fr 1.5fr 1.5fr 1fr 1.5fr 1fr 1fr 1fr;
      
    }

    .table_body{
      &>li{
        grid-template-columns: 0.5fr 1.5fr 1.5fr 1fr 1.5fr 1fr 1fr 1fr;
        @media only screen and (max-width:767px){
          grid-template-columns: 1fr 3fr;
          grid-gap: 0.65em;

        }
      }
     
    }
  }

  &.mini_{
    .table_head{
      grid-template-columns:2fr 2fr  1fr;
    }

    .table_body{
      &>li{
        grid-template-columns: 2fr 2fr 1fr;
        @media only screen and (max-width:767px){
          grid-template-columns: 1fr;
          grid-gap: 0.65em;

        }
      }
      
    }
  }
   &.mob_{
    .table_head{
      grid-template-columns:0.25fr 1.25fr;
    }

    .table_body{
      &>li{grid-template-columns:0.25fr 1.25fr;
        label{
          display: block;
          line-height: 1.8;
        }
      }

    }
  }
}

.contact_title_wrapper{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width:767px){
    flex-wrap: wrap;
  }

  h3{
    position: relative;
    font-weight: 500;
    color: $color-white;
    @include mdText2();
    margin: 0;

    span{
      display: block;
      position: relative;
      margin-top: 0.5em;
      @include smText2();
      color: $color-white;
      background-color: $color-secondary;
      padding: 0.5em;
      border-radius: 0.15em;
    }

    @media only screen and (max-width:767px){
      width: 100%;
    }
  }

  .button_wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 -5px;

    .btn_{
      margin: 0 5px;
    }

    @media only screen and (max-width:767px){
      width: 100%;
      flex-wrap: wrap;
      justify-content: flex-start;
      .btn_{
        margin: 10px 5px 0;
      }
      
    }
    
  }

}

.p_details{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  label{
    display: block;
    margin-bottom: 0.25em;
    color: $color-text;
    @include smText2();
    font-weight: 500;
  }

  .holder_{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 3em;
    color: $color-white;
    padding: 0.5em 1em;
    background-color: #202127;
    border-radius: 0.25em;
    @include mdText();
    font-weight: 500;
  }
}
.checkBox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @include smText2();
         font-weight: 500;
         color: $color-white;
}

/* Hide the browser's default checkbox */
.checkBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkBox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkBox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkBox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkBox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.check_box{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
