// Colors

$color-primary: #3d50fa;
$color-secondary: #6374fb;
$color-dark: #191a1f;
$color-dark-2: #1b1c22;
$color-text: #a0a0a2;
$color-icon: #5e5f62;
$color-white: #ffffff;
$border-color:#414247;
$color-green: #18a523;
$color-orange: #f77913;

$error: #e01700;

// Fonts

$font-primary: 'Poppins', Arial, sans-serif;
